<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Student info management</title>

    <!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">

</head>
<body>
<div>
    <div>
        <div class="container">
            <div>
                <h2>Student info management</h2>
            </div>
            <div class="body">
                <form action="/conditional" method = "post">
                    <div>
                        <label for="keyword">메뉴를 선택하세요.</label>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <label for="search-type" hidden>키워드 유형</label>
                            <select class="form-control" id="search-type" name="searchType">
                                <option>NAME</option>
                                <option>GRADE</option>
                                <option>DEPARTMENT</option>
                                <option>HOBBY</option>
                            </select>
                        </div>
                        <label for="search-value" hidden>검색어</label>
                        <input type="text" class="form-control" id="search-Value" name="searchValue" placeholder="키워드를 입력하세요.">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary" id="btn-save">Search</button>
                    </div>
                </form><br>
                <form action="/compound" method = "post">
                    <div>
                        <label for="search-value" hidden>검색어</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="이름">
                        <input type="text" class="form-control" id="grade" name="grade" placeholder="학년">
                        <input type="text" class="form-control" id="belong" name="belong" placeholder="학과">
                        <input type="text" class="form-control" id="hobby" name="hobby" placeholder="취미">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary" id="btn-save">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    <!--로딩 속도를 위해 위쪽에 css 를, 아래쪽에 js를 놓았음-->
    <!--부트스트랩 js, jquery 추가-->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>

</body>
</html>
