<footer>
    <nav>
        <a href='https://github.com/aufsprit/mongodbWithSpringBoot' target='_blank'>Github</a>
    </nav>
    <p>
        <span>Source Code : https://github.com/aufsprit/mongodbWithSpringBoot</span><br>
    </p>
</footer>